template(name='home')
    +slider
    .ui.container
        +call_to_action
        +featured_events
        +featured_posts


template(name='call_to_action')
    .ui.fluid.basic.very.padded.attached.segment
        .ui.stackable.container.grid
            .ten.wide.column
                h1.ui.header COME FOR COWORKING, STAY FOR COMMUNITY
                h3.ui.header Impact Hub Boulder is a member-based coworking space and event venue for entrepreneurs creating positive impact.
                h4
                    a(href='/partners')
                        |Meet Our Partners
                        i.right.arrow.icon
            .four.wide.center.aligned.column
                .ui.massive.green.button 
                    |Join Now

template(name='slider')
    img.ui.fluid.attached.image(src='https://oakland.impacthub.net/wp-content/uploads/sites/128/2014/12/impact-hub-oakland-home-banner-with-text.jpg')
    
    
template(name='featured_events')
    .ui.fluid.basic.attached.segment
        h1.ui.header Featured Events
        .ui.three.stackable.cards
            each featured_events
                +featured_event
          
          
          
template(name='featured_event')
    .ui.fluid.card
        .content
            .header
                a(href="/events/view/#{this._id}")
                    h2.ui.header #{title}
            .description
                // .ui.header Event Topics:
                each tags
                    // .ui.compact.button.event_tag(class=event_tag_class) #{this}
                    .ui.basic.label #{this}
                .ui.subheader Date: #{start_date} to #{end_date}

template(name='featured_posts')
    .ui.fluid.basic.attached.segment
        h1.ui.header Featured Posts
        .ui.three.stackable.cards
            each featured_posts
                +featured_post
                
                
                
template(name='featured_post')
    .ui.fluid.card
        .content
            .header
                a(href="/posts/view/#{this._id}")
                    h2.ui.header #{title}
            .description
                // .ui.header Post Topics:
                each tags
                    .ui.compact.button.post_tag(class=post_tag_class) #{this}
        .extra.content
            if can_edit
                .edit_post.ui.labeled.primary.basic.icon.button
                    i.pencil.icon
                    |Edit post