template(name='wins_challenges')
    .ui.container
        .ui.segment
            .ui.header Wins
            if currentUser
                .ui.input
                    input#add_win(type='text' placeholder='Add Win')
            .ui.divided.list
                each wins
                    .item
                        h4.ui.header #{body}
                        span by #{author.username}
                        if isAuthor
                            // .ui.icon.basic.button.editDoc
                            //     i.blue.pencil.icon
                            .ui.icon.basic.button.delete_doc
                                i.red.trash.icon
                        else
                            if currentUser
                                .ui.icon.button.vote_up(class=vote_upButtonClass)
                                    i.thumbs.up.icon
            .ui.header Challenges
            if currentUser
                .ui.input
                    input#add_challenge(type='text' placeholder='Add Challenge')
            .ui.divided.list
                each challenges
                    .item
                        h4.ui.header #{body}
                        span by #{author.username}
                        if isAuthor
                            // .ui.icon.basic.button.editDoc
                            //     i.blue.pencil.icon
                            .ui.icon.basic.button.delete_doc
                                i.red.trash.icon
                        else
                            if currentUser
                                .ui.icon.button.vote_up(class=vote_upButtonClass)
                                    i.thumbs.up.icon