template(name='edit_event')
    with event
        .ui.container.segment
            .ui.form
                .required.field
                    label Title
                    input#title(type='text' placeholder='Title' value=title)
                .field
                    if featured_image_url
                        label Featured Image
                        .ui.large.image
                            img(src=featured_image_url)
                            a#remove_photo.ui.right.corner.link.label
                                i.remove.red.link.icon
                    else
                        label Upload Image (1Mb Max)
                        input(type='file' name='upload_picture' accept='image/*')
                .field
                    label Start Date/Time
                    input#start_date(type='text' value=start_date)
                .field
                    label End Date/Time
                    input#end_date(type='text' value=end_date)
                .field
                    label Description
                    textarea#description(rows='5') #{description}
                .field
                    label Event Tags
                    each tags
                        .ui.basic.button.event_tag
                            i.minus.icon
                            |#{this}
                    .ui.left.icon.input
                        i.add.icon
                        input#add_event_tag(type='text' placeholder='Add Tag' maxlength='50')
                if tags
                    #save_event.ui.large.green.button Save
                        // .visible.content Save
                        // .hidden.content
                        //     i.right.check.icon
                #delete_event.ui.red.large.button Delete
                        // .hidden.content 
                        //     i.remove.icon
                        // .visible.content Delete
                    
template(name="tag_result")
    .ui.label #{name}
    