with event
    .ui.container.segment
        // +back_button
        div
            if image_id
                img.ui.centered.image(src="{{c.url image_id width=800 height=400 crop='fill'}}")
            else
                img.ui.centered.image(src="/img/about_mashup_one.jpg")
            .overlay-text 
                h1 #{title}
                // h3 #{day} from #{start_time} to #{end_time}
                if end_date
                    |#{day} 
                    .sub.header #{start_time} to #{end_time}
                else
                    |#{day} at #{start_time}
                if location
                    h3 @#{location}
        .ui.hidden.divider
        .ui.divided.grid
            .eleven.wide.column
                // h1.ui.header #{title}
                .description
                    // |Event Tags:
                    .ui.basic.segment
                        |!{description}
                    // .ui.divider
                    each tags
                        .ui.basic.label #{this}
                .ui.hidden.divider
                a.ui.basic.button(href="/events")
                    i.arrow.left.icon
                    |Events
            .five.wide.column
                h3.ui.dividing.make-uppercase.header Date and Time
                if end_date
                    div #{day} 
                    div #{start_time} to #{end_time}
                else
                    |#{day} at #{start_time}
                if location
                    h3.ui.dividing.make-uppercase.header Location
                    span #{location}
                .ui.divider
                h3.ui.dividing.make-uppercase.header Actions
                if isInRole 'admin'
                    .edit_event.ui.basic.button
                        i.pencil.icon
                        |Edit
                +favorite
                if attendee_ids
                    h3.ui.dividing.make-uppercase.header Attendees
                    .ui.divided.vertical.list
                        each attendee_ids
                            +user_blurb id=this
                if currentUser
                    if attending
                        .ui.basic.icon.fluid.button.leave_event 
                            i.large.icons
                                i.user.icon
                                i.red.minus.corner.icon
                            | Leave
                    else
                        .ui.basic.icon.fluid.button.join_event 
                            i.large.icons
                                i.user.icon
                                i.green.plus.corner.icon
                            | Join
                else
                    p Sign in to attend    