template(name='events')
    div
        img.ui.fluid.image(src='/banners/event_banner_cut.jpg', alt='')
        h1.overlay-text.banner-text Events at Impact Hub Boulder
    .ui.container
        // +cloud filter='event'
        .ui.hidden.divider
        if isInRole 'admin'
            .ui.labeled.input
                .ui.basic.label 
                    i.red.configure.icon
                    |Add Eventbrite Event by Id
                input#manual_event_add(type='text')
        .ui.hidden.divider
        .ui.stackable.grid
            .eleven.wide.column
                +featured_events
                h2.impact-header Upcoming Events
                if Template.subscriptionsReady
                    .ui.centered.stackable.three.cards
                        each events
                            +event_card
                else
                    |Loading Events...
            .five.wide.column
                +fullcalendar options



template(name='event_card')
    .ui.card
        .image
            a(href="/event/view/#{_id}")
                img.ui.image(src=logo.url)            
                // if image_id
                //     img.ui.image(src="{{c.url image_id height=175 width=300 crop='fill'}}")            
                // else
                //     img.ui.image(src="{{c.url 'ih_logo_placeholder_pdwzf8' height=175 width=300 crop='fill'}}")            
                //     // img.ui.large.image(src="/img/ih_logo_placeholder.png")
        .content
            // .header
            h3.ui.red.header.make-uppercase 
                a(href="/event/view/#{_id}") #{name.text}
            .meta
                strong #{day} 
            .meta
                strong #{start_time} to #{end_time}
            .meta
                |Organized by #{organizer.name}
            .ui.hidden.fitted.divider
            |#{snippet}
        //     +favorite
        //     if isInRole 'admin'
        //         .edit_event.ui.right.floated.primary.basic.button
        //             i.pencil.icon
        //             |Edit Event