with event
    .ui.text.container.segment
        a.ui.top.left.attached(href='/events')
            i.left.arrow.icon
            |Back
        img.ui.centered.medium.image(src="{{c.url image_id}}")
        h1.ui.header #{title}
        .description
            // .ui.header Event Topics:
            each tags
                // .ui.compact.button.event_tag(class=event_tag_class) #{this}
                .ui.basic.label(class=event_tag_class) #{this}
            .ui.subheader 
                strong #{day} 
                |from
                strong #{start_time} 
                |to 
                strong #{end_time}
            // |#{start_date} to #{end_date}
            .ui.basic.padded.segment
                |!{description}
        if attendees
            .content
                .ui.header Attendees:
                .ui.horizontal.list
                    each attendees
                        .item #{this}
        .extra.content
            if isInRole 'admin'
                .edit_event.ui.labeled.primary.basic.icon.button
                    i.pencil.icon
                    |Edit Event
            if currentUser
                if attending
                    .ui.basic.button.leave_event
                        i.red.minus.icon
                        |Leave
                else
                    .ui.button.basic.join_event
                        i.green.plus.icon
                        |Join
            else
                p Sign in to attend    
                