template(name='events')
    #event_slider(style='width: 1000px; height: 300px;')
        .ls-slide(data-ls='slidedelay: 2000;')
            img.ls-bg(src="{{c.url 'event_banner' width=1000 height=300 crop='fill' }}", alt='Slide background')
            h1.ls-l.overlay-text.slider-text(style="top: 50%; text-size: 300%;") 
                | Events at Impact Hub Boulder
    .ui.container
        .ui.hidden.divider
        if isInRole 'admin'
            .ui.labeled.input
                .ui.basic.label 
                    i.red.configure.icon
                    |Add Eventbrite Event by Id
                input#add_event(type='text')
        .ui.hidden.divider
        .ui.stackable.grid
            .twelve.wide.column
                +featured_events
                +upcoming_events
                +past_events
            .four.wide.column
                .ui.big.red.fluid.button.make-uppercase Host Your Event Here
                +event_cloud
                // +fullcalendar options


template(name='upcoming_events')
    h2.impact-header Upcoming Events
    .ui.centered.stackable.three.cards
        each upcoming_events
            +event_card



template(name='past_events')
    h2.impact-header Past Events
    .ui.centered.stackable.three.cards
        each past_events
            +event_card



template(name='event_card')
    .ui.card
        .image
            a(href="/event/view/#{_id}")
                img.ui.image(src=logo.url)            
                // if image_id
                //     img.ui.image(src="{{c.url image_id height=175 width=300 crop='fill'}}")            
                // else
                //     img.ui.image(src="{{c.url 'ih_logo_placeholder_pdwzf8' height=175 width=300 crop='fill'}}")            
                //     // img.ui.large.image(src="/img/ih_logo_placeholder.png")
        .content
            // .header
            h3.ui.red.header.make-uppercase 
                a(href="/event/view/#{_id}") #{name.text}
            .meta
                strong #{day} 
            .meta
                strong #{start_time} to #{end_time}
            // .meta
            //     |Organized by #{organizer.name}
            // .meta
            //     |At #{venue.name}
            .ui.hidden.fitted.divider
            |#{snippet}
        //     +favorite
        //     if isInRole 'admin'
        //         .edit_event.ui.right.floated.primary.basic.button
        //             i.pencil.icon
        //             |Edit Event