with event
    // +back_button
    .header-wrapper
        img.ui.centered.fluid.image(src=big_image_url)
        // if image_id
        //     img.ui.centered.image(src="{{c.url image_id width=800 height=400 crop='fill'}}")
        // else
        //     img.ui.centered.image(src="/img/about_mashup_one.jpg")
        .event-header
            h1 #{name.text}
            // h3 #{day} from #{start_time} to #{end_time}
            // .overlay-text-subheader
            h2
                |#{day} 
                .sub.header #{start_time} to #{end_time}
    .ui.container.basic.segment
        .ui.divided.grid
            .eleven.wide.column
                // h1.ui.header #{title}
                .description
                    // |Event Tags:
                    .ui.basic.segment
                        |!{description.html}
                    // .ui.divider
                    // each tags
                    //     .ui.basic.label #{this}
                .ui.divider
                a.ui.basic.button(href="/events")
                    i.arrow.left.icon
                    |Events
            .five.wide.column
                a.ui.basic.fluid.black.button(href=url target='_window')
                    i.ticket.icon
                    |Register on Eventbrite
                h3.impact-header Date and Time
                if end_date
                    div #{day} 
                    div #{start_time} to #{end_time}
                else
                    |#{day} at #{start_time}
                if location
                    h3.ui.dividing.make-uppercase.header Location
                    span #{location}
                .ui.divider
                if isInRole 'admin'
                    h3.impact-header Admin
                    #delete.ui.basic.button 
                        i.delete.icon
                        |Delete
                    if featured
                        #make_unfeatured.ui.green.button
                            i.toggle.on.icon
                            |Make Unfeatured
                    else
                        #make_featured.ui.basic.button
                            i.toggle.off.icon
                            |Make Featured
                h3.impact-header Organizer Information
                with organizer
                    h2.ui.header 
                        .ui.avatar.image
                            img(src=logo.url)
                        |#{name}
                    |!{description.html}
                    a.ui.icon.basic.button(href="https://www.facebook.com/#{facebook}" target="_blank")
                        i.facebook.link.icon
                    a.ui.icon.basic.button(href="https://twitter.com/#{twitter}" target="_blank")
                        i.twitter.link.icon
                    a.ui.basic.button(href=url target='_blank') 
                        i.external.icon
                        |Eventbrite Profile
