with event
    .ui.container.basic.segment
        // +back_button
        a.ui.basic.top.left.attached.button(href="/events")
            i.arrow.left.icon
            |Events
        div
            if image_id
                img.ui.centered.image(src="{{c.url image_id width=800 height=600 crop='fill'}}")
            else
                img.ui.centered.image(src="/img/about_mashup_one.jpg")
            .overlay-text 
                h1 #{title}
                h3 #{day} from #{start_time} to #{end_time}
                if location
                    h3 @#{location}
        .ui.hidden.divider
        .ui.grid
            .eleven.wide.column
                .description
                    .ui.header Event Tags:
                        each tags
                            .ui.basic.label(class=event_tag_class) #{this}
                    .ui.basic.padded.segment
                        |!{description}
                .extra.content
                    if isInRole 'admin'
                        .edit_event.ui.primary.basic.button
                            i.pencil.icon
                            |Edit Event
                    +favorite
            .five.wide.column
                .ui.dividing.header Date and Time
                h2.ui.sub.header #{day} from #{start_time} to #{end_time}
                if location
                    .ui.dividing.header Location
                    h2.ui.sub.header @#{location}
                if attendee_ids
                    .ui.dividing.header Attendees
                    .ui.divided.vertical.list
                        each attendee_ids
                            +user_blurb id=this
                    if currentUser
                        if attending
                            .ui.basic.button.leave_event
                                i.red.minus.icon
                                |Leave
                        else
                            .ui.button.basic.join_event
                                i.green.plus.icon
                                |Join
                    else
                        p Sign in to attend    