template(name='events')
    h1.ui.center.aligned.header Events at Impact Hub Boulder
    img.ui.centered.image(src='/banners/event_banner.jpg', alt='')
    +cloud filter='event'
    .ui.centered.cards
        each events
            +event_card


template(name='event_card')
    .ui.card
        .content
            a(href="/event/view/#{_id}")
                img.ui.image(src="{{c.url image_id height=200 crop='fit'}}")
        .content
            .header
                h2.ui.header 
                    a(href="/event/view/#{_id}") #{title}
            .meta
                strong #{day} 
                |from
                strong #{start_time} 
                |to 
                strong #{end_time}
        if isInRole 'admin'
            .extra.content
                .edit_event.ui.labeled.right.floated.primary.basic.icon.button
                    i.pencil.icon
                    |Edit Event