template(name='events')
    .ui.container.segment
        .ui.centered.cards
            each events
                +event_card


template(name='event_card')
    .ui.card
        .image
            a(href="/events/view/#{_id}")
                img.ui.medium.image(src=featured_image_url)
        .content
            .header
                h2.ui.header 
                    a(href="/events/view/#{_id}") #{title}
            .meta
                strong #{day} 
                |from
                strong #{start_time} 
                |to 
                strong #{end_time}
        if is_author
            .extra.content
                .edit_event.ui.labeled.right.floated.primary.basic.icon.button
                    i.pencil.icon
                    |Edit Event