template(name='edit_post')
    with post
        .ui.container.segment
            .ui.form
                .required.field
                    label Title
                    input#title(type='text' placeholder='Title' value=title)
                .field
                    if featured_image_url
                        label Featured Image
                        .ui.medium.image
                            img(src=featured_image_url)
                            a#remove_photo.ui.top.right.attached.basic.label
                                i.remove.red.link.icon
                                | Remove Photo
                    else
                        label Upload Image (1Mb Max)
                        input(type='file' name='upload_picture' accept='image/*')
                .field
                    label Publish Date
                    input#publish_date(type='date' value=publish_date)
                .field
                    label Description
                    textarea#description(rows='5') #{description}
                .field
                    label Post Tags
                    each tags
                        .ui.basic.button.post_tag
                            i.minus.icon
                            |#{this}
                    .ui.left.icon.input
                        i.add.icon
                        input#add_post_tag(type='text' placeholder='Add Tag' maxlength='50')
                if tags
                    #save_post.ui.large.green.button Save
                #delete_post.ui.red.large.button Delete