template(name='posts')
    h1.ui.center.aligned.header Impact Hub Boulder Blog
    img.ui.centered.fluid.image(src='/banners/blog_banner.jpg', alt='')
    +cloud filter='post'
    .ui.container.segment
        .ui.divided.items
            each posts
                +post


template(name='post')
    .ui.item
        .image
            img.ui.medium.image(src="{{c.url image_id}}")
        .content
            .header
                h2.ui.header #{title}
            .meta Published #{publish_when}
            .description
                |!{description}
            .extra
                each tags
                    .ui.compact.button.post_tag(class=post_tag_class) #{this}
                if can_edit
                    .edit_post.ui.labeled.primary.basic.right.floated.icon.button
                        i.pencil.icon
                        |Edit post    