template(name='posts')
    div
        img.ui.centered.fluid.image(src='/banners/blog_banner.jpg', alt='')
        h1.overlay-text.banner-text Impact Hub Boulder Blog
    +cloud filter='post'
    .ui.container.basic.segment
        .ui.cards
            each posts
                +post


template(name='post')
    .ui.fluid.card
        a(href="/post/view/#{_id}")
            .image
                img.ui.image(src="{{c.url image_id width=1500 height=200 gravity='face' crop='fill'}}")
        .content
            .header
                a(href="/post/view/#{_id}")
                    h2.ui.header #{title}
            if publish_date
                .meta
                    | Published #{publish_when}
            .description
                |!{description}
        .content
            each tags
                .ui.compact.button.post_tag(class=post_tag_class) #{this}
            if isInRole 'admin'
                .edit_post.ui.primary.basic.right.floated.button
                    i.pencil.icon
                    |Edit Post    
        .content
            +favorite