template(name='profile')
    .ui.container
        .ui.segment
            .ui.form
                .field
                    label Your Name
                    .ui.left.icon.input
                        i.user.icon
                        input#name(type='text' value=currentUser.profile.name)
                .field
                    label Your Company
                    .ui.left.icon.input
                        i.building.icon
                        input#company(type='text' value=currentUser.profile.company)
                .field
                    label Tags
                    each currentUser.tags
                        .ui.basic.button.tag
                            i.remove.icon
                            |#{this}
                    .ui.left.icon.small.input
                        i.add.green.icon
                        input#addtag(type='text' autofocus='' placeholder='Add tag')
                .field
                    .ui.centered.grid
                        .ui.six.wide.column
                            +atForm
        // .ui.segment
        //     .ui.header Matched People
        //     each matchedUsersList
        //         .ui.list
        //             .item
        //                 strong #{this.matchedUser} (#{this.length}):
        //                 each this.tagIntersection
        //                     | #{this}, &nbsp;
