template(name='profile')
    .ui.container
        .ui.segment
            // div Your Name
            div
                .ui.left.icon.input
                    i.user.icon
                    input#username(type='text' value=user.username)
                each user.tags
                    .ui.basic.compact.button.tag
                        i.remove.icon
                        |#{this}
                .ui.left.icon.small.input
                    i.add.green.icon
                    input#addtag(type='text' autofocus='' placeholder='Add tag')
            // .ui.header Your Company
            // .ui.left.icon.input
            //     i.building.icon
            //     input#company(type='text' value=user.company)
            // div Your Tags
            // div Matched People
            .ui.header Matched People
            each matchedUsersList
                .ui.list
                    .item
                        strong #{this.matchedUser} (#{this.length}):
                        each this.tagIntersection
                            | #{this}, &nbsp;
