template(name='people')
    +people_cloud
    .ui.container
        .ui.centered.four.cards
            each people
                +person_card


template(name='person_card')
    .ui.card
        a.image(href="/profile/view/#{_id}")
            img(src="{{c.url profile.image_id}}")
            if published
                .ui.top.right.attached.green.label Published
            else
                .ui.top.right.attached.red.label Unpublished
            if checked_in
                .ui.top.left.attached.green.label Checked In
            else
                .ui.top.left.attached.red.label Checked Out
        .content
            .header
                a(href="/profile/view/#{_id}") #{profile.name}
            .meta
                | #{profile.position}
        .content
            each tags
                .ui.tiny.compact.circular.button.doc_tag(class=tag_class) #{this}
        .extra.content
            a.ui.right.floated(href="/profile/view/#{_id}")
                |Learn More
                i.right.arrow.icon
            if isInRole 'admin'
                if checked_in
                    #check_out.ui.basic.button
                        i.red.remove.icon
                        |Check Out
                else
                    #check_in.ui.basic.button
                        i.green.check.icon
                        |Check In
