template(name='home')
    +slider
    +featured_events



template(name='slider')
    img.ui.fluid.attached.image(src='https://oakland.impacthub.net/wp-content/uploads/sites/128/2014/12/impact-hub-oakland-home-banner-with-text.jpg')
    
    
template(name='featured_events')
    h1.ui.header Featured Events
    each featured_events
        .ui.three.stackable.cards
            .ui.card
                .content
                    .header
                        |Event Topics:
                        each tags
                            .ui.compact.button.tag(class=tagClass) #{this}
                    .description
                        if can_edit
                            .ui.labeled.icon.button
                                i.pencil.icon
                                |Edit Event
                        p Date: #{date}
                        p Description: #{description}
                .content
                    .ui.header Attendees:
                    .ui.horizontal.list
                        each attendees
                            .item #{this}
                .extra.content
                    if currentUser
                        if attending
                            .ui.basic.button.leave_event
                                i.red.minus.icon
                                |Leave
                        else
                            .ui.button.basic.join_event
                                i.green.plus.icon
                                |Join
                    else
                        p Sign in to attend