template(name='edit_event')
    with event
        .ui.segment
            .ui.form
                .required.field
                    label Title
                    input#title(type='text' name='title' placeholder='Title' value=title)
                // .ui.segment    
                //     .inline.field
                    //     label Type of event
                    //     .ui
                    //         if selected_type_of_event_tags
                    //             #clear_type_of_event_tags.ui.large.compact.primary.icon.button
                    //                 i.remove.icon
                    //             each selected_type_of_event_tags
                    //                 .ui.compact.large.primary.button.unselect_type_of_event_tag
                    //                     strong #{this}
                    //         each type_of_event_cloud 
                    //             .ui.compact.button.select_type_of_event_tag #{name}
                    //         // #accounting_finance.ui.button.type_button(class=type_button_class(type='accounting_finance')) Accounting/Finance
                    //         // #fundraising_crowdfunding.ui.button.type_button(class=type_button_class(type='fundraising_crowdfunding')) Fundraising/Crowdfunding
                    //         // #advertising_pr.ui.button.type_button(class=type_button_class(type='advertising pr')) Advertising PR
                    //         // #meetups_panels.ui.button.type_button(class=type_button_class(type='meetups panels')) Meetups/Panels
                    //         // #leadership_professional_development.ui.button.type_button(class=type_button_class(type='leadership professional_development')) Leadership/Professional Development
                    //         // #startups_demos.ui.button.type_button(class=type_button_class(type='startups_demos')) Startups/Demos
                    //         // #product_promotions.ui.button.type_button(class=type_button_class(type='product_promotions')) Product Promotions
                    //         // #health_wellness.ui.button.type_button(class=type_button_class(type='health_wellness')) Health/Wellness
                    //         // #online_marketing_seo.ui.button.type_button(class=type_button_class(type='online_marketing_seo')) Online Marketing/SEO
                    //         // #happy_hours.ui.button.type_button(class=type_button_class(type='happy_hours')) Happy Hours
                    //         // #community_event.ui.button.type_button(class=type_button_class(type='community_event')) Community Event
                    //         // #other.ui.button.type_button(class=type_button_class(type='other')) Other
                    // .inline.field
                    //     label Type w/Autocomplete
                    //     +inputAutocomplete settings=settings id="add_type_of_event_tag" class="" autocomplete="off" placeholder='Select/Type Type'
                .field
                    label Date and Time
                    input#datetimepicker(type='text')
                .field
                    label Description
                    textarea#description(rows='5') #{description}
                // .inline.field
                //     label Location
                        
                // .inline.field 
                //     label To Be Determinded  

                // .inline.field
                //     label Registration?

                .field
                    .ui.header Your Selected Tags
                    each tags
                        .ui.basic.button.event_tag
                            i.minus.icon
                            |#{this}
                    .ui.left.icon.input
                        i.add.icon
                        input#add_event_tag(type='text' autofocus='' placeholder='Add Tag' maxlength='50')
                if tags
                    #save_event.ui.animated.large.green.button
                        .visible.content Save
                        .hidden.content
                            i.right.check.icon
                #delete_event.ui.animated.red.large.button
                        .hidden.content 
                            i.remove.icon
                        .visible.content Delete
                    
template(name="tag_result")
    .ui.label #{name}
    