template(name='events')
    .ui.container
        each events
            +event


template(name='event')
    .ui.fluid.card
        .content
            .header
                h2.ui.header #{title}
            .description
                .ui.header Event Topics:
                each tags
                    .ui.compact.button.tag(class=tagClass) #{this}
                .ui.header Date: 
                |#{date}
                .ui.header Description: 
                |!{description}
        .content
            .ui.header Attendees:
            .ui.horizontal.list
                each attendees
                    .item #{this}
        .extra.content
            if can_edit
                .edit_event.ui.labeled.primary.basic.icon.button
                    i.pencil.icon
                    |Edit Event
            if currentUser
                if attending
                    .ui.basic.button.leave_event
                        i.red.minus.icon
                        |Leave
                else
                    .ui.button.basic.join_event
                        i.green.plus.icon
                        |Join
            else
                p Sign in to attend