template(name='events')
    .ui.container
        #add_event.ui.compact.basic.button
            i.green.plus.icon
            |Add Event
        each events
            +event


template(name='event')
    .ui.fluid.card
        .content
            .header
                |Event Topics:
                each tags
                    .ui.compact.button.tag(class=tagClass) #{this}
            .description
                if can_edit
                    .ui.labeled.icon.button
                        i.pencil.icon
                        |Edit Event
                p Date: #{date}
                p Description: #{description}
        .content
            .ui.header Attendees:
            .ui.horizontal.list
                each attendees
                    .item #{this}
        .extra.content
            if currentUser
                if attending
                    .ui.basic.button.leave_event
                        i.red.minus.icon
                        |Leave
                else
                    .ui.button.basic.join_event
                        i.green.plus.icon
                        |Join
            else
                p Sign in to attend