template(name='people')
    +cloud filter='person'
    .ui.container
        .ui.centered.cards
            each people
                +person_card


template(name='person_card')
    .ui.card
        a.image(href="/person/view/#{_id}")
            img(src=person_image_url)
        .content
            .header
                a(href="/person/view/#{_id}") #{name}
            .meta
                | #{position}
            // .description 
            //     |{{cutString bio 100}}
        // if website
        //     .content
        //         i.linkify.icon
        //         a(href=website target='_blank') #{website}
        // if linkedin
        //     .content
        //         a.ui.large.blue.icon.circular.button(href=linkedin target='_blank')
        //             i.linkedin.icon
        .extra.content
            a.ui.right.floated(href="/person/view/#{_id}")
                |Learn More
                i.right.arrow.icon