with person
    .ui.text.container.segment
        img.ui.centered.medium.circular.image(src=person_image_url)
        h2.ui.header
            |#{name}
        h4.ui.header 
            i.building.icon
            |#{company}
        h4.ui.header 
            |#{position}
        h4.ui.header
            a(href=website target='_blank')
                i.linkify.icon
                |#{website}
        if linkedin
            a.ui.circular.large.blue.icon.button(href=linkedin target='_blank')
                i.linkedin.icon
        .ui.hidden.divider
        i.large.tags.icon
        each tags
            .ui.basic.label #{this}
        .ui.padded.basic.segment {{nl2br bio}}
        if can_edit
            a#edit_person.ui.basic.blue.button(href="/person/edit/#{_id}")
                |Edit Person