// h2.impact-header Filter
.ui.basic.center.aligned.segment
    if isInRole 'member'
        #add_ecosystem_item.item.ui.basic.button 
            i.red.user.icon
            |Add Item
    // .ui.left.icon.input
    //     i.search.icon
    //     +inputAutocomplete settings=settings id="search" class="" autocomplete="off" 
    if selected_eco_tags
        #clear_tags.ui.red.compact.icon.circular.large.button
            i.remove.icon
    if selected_eco_tags
        each selected_eco_tags
            a.ui.red.compact.circular.large.button.unselect_tag
                strong #{this}
    each eco_tags
        .ui.compact.basic.circular.button.select_tag(class=tag_cloud_class) #{this.name}
            // small #{this.count}
