template(name='top_nav')
    .ui.inverted.menu
        .right.menu
            if currentUser
                // a.item(href='/services' class="{{isActivePath '/services'}}")
                //     i.laptop.icon
                //     | Services
                if isInRole 'admin'
                    a.item(href='/admin' class="{{isActivePath '/admin'}}")
                        i.configure.icon
                        | Admin
                a.item(href="/profile/edit/#{currentUser.profile_doc}" class="{{isActivePath '/profile/edit/'}}")
                    if currentUser.profile.profile_image_url
                        img.ui.avatar.image(src=currentUser.profile_doc.profile_image_url)
                    else
                        i.user.icon
                    // i.setting.icon
                    // | Account
                    | #{currentUser.profile.name}
                // a.item(href="/person/view/#{currentUser._id}" class="{{isActivePath '/person/view/#{currentUser._id}'}}")
                // a.item(href='/messages' class="{{isActivePath '/messages'}}")
                //     i.mail.icon
                //     // | Messages (#{currentUser.unreadcount})
                //     | Messages
                a#logout.ui.item(href='#') 
                    i.sign.out.icon
                    |Sign Out
            else
                a.ui.item(href='/sign-up') 
                    i.sign.in.icon
                    |Sign In/ Register
    a.header-logo(href='/' class="{{isActivePath '/'}}")
        img.ui.medium.image(src='/img/Impact_Hub_Boulder_logo.png')


template(name='nav')
    .red-nav-bar
        .ui.red.inverted.large.menu
            .ui.container
                a.item(href='/about' class="{{isActivePath '/about'}}")
                    i.info.circle.icon
                    |About
                a.item(href='/people' class="{{isActivePath '/people'}}")
                    i.users.icon
                    |People
                // a.item(href='/conversations' class="{{isActivePath '/conversations'}}")
                //     i.comments.icon
                //     | Conversations
                a.item(href='/events' class="{{isActivePath '/events'}}")
                    i.calendar.icon
                    | Events
                // a.item(href='/partners' class="{{isActivePath '/partners'}}")
                //     i.building.icon
                //     | Partners
                a.item(href='/organizations' class="{{isActivePath '/organizations'}}")
                    i.building.icon
                    | In-House
                a.item(href='/academy' class="{{isActivePath '/academy'}}")
                    i.university.icon
                    | Programs
                // a.item(href='/media' class="{{isActivePath '/media'}}")
                //     i.photo.icon
                //     | Media
                a.item(href='/become_member' class="{{isActivePath '/become_member'}}")
                    i.add.user.icon
                    | Become A Member
                a.item(href='/posts' class="{{isActivePath '/posts'}}")
                    i.file.text.outline.icon
                    | Blog
                a.item(href='/rent' class="{{isActivePath '/rent'}}")
                    i.edit.icon
                    | Rent Our Space
                // a.item(href='/wins' class="{{isActivePath '/wins'}}")
                //     i.thumbs.up.icon
                //     | Wins/Challenges