template(name='blog')
    #blog_slider(style='width: 1000px; height: 300px;')
        .ls-slide(data-ls='slidedelay: 2000;')
            img.ls-bg(src="{{c.url 'event_banner' width=1000 height=300 crop='fill' }}", alt='Slide background')
            h1.ls-l.overlay-text.slider-text(style="top: 50%; text-size: 300%;") 
                | Impact Hub Boulder Blog
    .ui.container.basic.segment
        .ui.stackable.grid
            .twelve.wide.column
                h1.impact-header Recent Posts
                .ui.cards
                    each posts
                        +post
            .four.wide.column
                // .ui.big.red.fluid.button.make-uppercase Host Your Event Here
                +cloud filter='post'




template(name='post')
    .ui.fluid.card
        a(href="/post/view/#{_id}")
            .image
                img.ui.image(src="{{c.url image_id width=1500 height=200 gravity='face' crop='fill'}}")
        .content
            .header
                a(href="/post/view/#{_id}")
                    h2.ui.header #{title}
            if publish_date
                .meta
                    | Published #{publish_when}
            .description
                |!{description}
        .content
            each tags
                .ui.compact.button.post_tag(class=post_tag_class) #{this}
            if isInRole 'admin'
                .edit_post.ui.primary.basic.right.floated.button
                    i.pencil.icon
                    |Edit Post    
        .content
            +favorite