template(name='posts')
    .ui.container
        #blog_slider(style='width: 1000px; height: 500px;')
            .ls-slide(data-ls='slidedelay: 2000;')
                img.ls-bg(src="{{c.url 'impact_collage' effect='art:primavera'}}", alt='Slide background')
                h1.ls-l.overlay-text.slider-text(style="top: 50%; text-size: 500%;") 
                    | Our Stories
        .ui.hidden.divider
        .ui.stackable.divided.grid
            .twelve.wide.column
                h1.impact-header Recent Posts
                .ui.cards
                    each posts
                        +post
            .four.wide.column
                +post_cloud
                if isInRole 'admin'
                    h2.impact-header 
                        i.red.configure.icon
                        |Admin
                    #add_post.ui.compact.basic.button
                        i.large.icons
                            i.sticky.note.outline.icon
                            i.green.plus.corner.icon
                        |Add Post


template(name='post')
    .ui.fluid.card
        .ui.centered.image
            a(href="/post/view/#{_id}")
                img(src="{{c.url image_id  height=300 crop='fill' gravity='face' }}")
        .content
            .header
                a(href="/post/view/#{_id}")
                    h2.ui.header #{title}
            if publish_date
                .meta
                    | Published #{publish_when}
            .description
                |!{description}
        .content
            each tags
                .ui.compact.button.post_tag(class=post_tag_class) #{this}
            if isInRole 'admin'
                .edit_post.ui.primary.basic.right.floated.button
                    i.pencil.icon
                    |Edit Post    
        .content
            +favorite