template(name='featured_events')
    .ui.very.padded.attached.basic.segment
        .ui.container
            // .ui.divider
            h1.ui.make-uppercase.header Featured Events
            // .ui.divider
            .ui.four.stackable.cards
                each featured_events
                    // +featured_event
                    +featured_event
              
          
          
template(name='featured_event')
    .ui.fluid.card
        .image
            a
                img.ui.medium.image.featured_event_title(src="{{c.url image_id}}")
        .content
            .header
                // a(href="/event/view/#{this._id}")
                a
                    h2.ui.header.featured_event_title #{title}
            .description
                // .ui.header Event Topics:
                strong #{day} 
                |from
                strong #{start_time} 
                |to 
                strong #{end_time}
