template(name='edit_profile')
    with currentUser.profile
        .ui.text.container
            .ui.segment
                .ui.form
                    +edit_image
                    .field
                        label Name
                        .ui.left.icon.input
                            i.user.icon
                            input#name(type='text' value=name)
                    .field
                        label Company
                        .ui.left.icon.input
                            i.building.icon
                            input#company(type='text' value=company)
                    .field
                        label Position
                        .ui.input
                            input#position(type='text' value=position)
                    .field
                        label Website
                        .ui.left.icon.input
                            i.linkify.icon
                            input#website(type='text' value=website)
                    .field
                        label Linkedin
                        .ui.left.icon.input
                            i.linkedin.icon
                            input#linkedin(type='text' value=linkedin)
                    .field
                        label Tags
                        each tags
                            .ui.basic.button.person_tag
                                i.minus.icon
                                |#{this}
                        .ui.left.icon.input
                            i.add.icon
                            input#add_person_tag(type='text' placeholder='Add Tag' maxlength='50')
                    .field
                        label Bio
                        textarea#bio(rows='5') #{bio}
                    .field
                        #save_profile.ui.large.green.button Save
                        
            // .ui.segment
            //     .ui.header Matched People
            //     each matchedUsersList
            //         .ui.list
            //             .item
            //                 strong #{this.matchedUser} (#{this.length}):
            //                 each this.tagIntersection
            //                     | #{this}, &nbsp;
