template(name='edit_profile')
    with currentUser
        .ui.text.container
            .ui.segment
                .ui.form
                    .field
                        if profile.image_id
                            label Image
                            .ui.large.image
                                img(src="{{c.url profile.image_id}}")
                                a#remove_photo.ui.right.corner.link.label
                                    i.remove.red.link.icon
                        else
                            label Upload Image
                            input(type='file' name='upload_picture' accept='image/*')
                    .field
                        label Name
                        .ui.left.icon.input
                            i.user.icon
                            input#name(type='text' value=profile.name)
                    .field
                        label Company
                        .ui.left.icon.input
                            i.building.icon
                            input#company(type='text' value=profile.company)
                    .field
                        label Position
                        .ui.input
                            input#position(type='text' value=profile.position)
                    .field
                        label Website
                        .ui.left.icon.input
                            i.linkify.icon
                            input#website(type='text' value=profile.website)
                    .field
                        label Linkedin
                        .ui.left.icon.input
                            i.linkedin.icon
                            input#linkedin(type='text' value=profile.linkedin)
                    .field
                        label Tags
                        each tags
                            .ui.basic.button.person_tag
                                i.minus.icon
                                |#{this}
                        .ui.left.icon.input
                            i.add.icon
                            input#add_person_tag(type='text' placeholder='Add Tag' maxlength='50')
                    .field
                        label Bio
                        textarea#bio(rows='5') #{bio}
                    .field
                        #save_profile.ui.large.green.button Save
                        
            // .ui.segment
            //     .ui.header Matched People
            //     each matchedUsersList
            //         .ui.list
            //             .item
            //                 strong #{this.matchedUser} (#{this.length}):
            //                 each this.tagIntersection
            //                     | #{this}, &nbsp;
