template(name='edit_organization')
    with organization
        .ui.container.segment
            .ui.form
                .required.field
                    label Title
                    input#title(type='text' placeholder='Title' value=title)
                .field
                    if featured_image_url
                        label Featured Image
                        .ui.large.image
                            img(src=featured_image_url)
                            a#remove_photo.ui.right.corner.link.label
                                i.remove.red.link.icon
                    else
                        label Upload Image (1Mb Max)
                        input(type='file' name='upload_picture' accept='image/*')
                .field
                    label Link (include http://)
                    .ui.left.icon.input
                        i.linkify.icon
                        input#link(type='text' value=link placeholder='http://www')
                .field
                    label Description
                    textarea#description(rows='5') #{description}
                .field
                    label Organization Tags
                    each tags
                        .ui.basic.button.organization_tag
                            i.minus.icon
                            |#{this}
                    .ui.left.icon.input
                        i.add.icon
                        input#add_organization_tag(type='text' placeholder='Add Tag' maxlength='50')
                if tags
                    #save_organization.ui.big.green.button Save
                #delete_organization.ui.red.button Delete
                        