with organization
    .ui.container
        .image
            img.ui.centered.image(src="{{c.url image_id }}")
            .overlay-text 
                h1 #{title}
        .ui.hidden.divider
        .ui.divided.grid
            .ten.wide.column
                .meta
                    a(href=link target='_blank') #{link}
                .description
                    |!{description}
            .five.wide.column
                each tags
                    .ui.basic.label #{this}
        if isInRole 'admin'
            .extra.content
                .ui.divider
                i.large.red.configure.icon
                .edit_organization.ui.primary.basic.button
                    i.pencil.icon
                    |Edit Organization    