template(name='organizations')
    // .ui.fluid.image
    //     img(src='/img/community_mashup_two.jpg')
    //     // .ui.bottom.attached.basic.massive.red.label Partners
    //     .ui.top.attached.basic.massive.red.label Community At Impact Hub Boulder
    +cloud filter='organization'
    .ui.container.basic.segment
        .ui.divided.items
            each organizations
                +organization


template(name='organization')
    .ui.item
        .image
            img.ui.medium.image(src=featured_image_url)
        .content
            .header
                h2.ui.header #{title}
            .meta
                a(href=link target="_blank") #{link}
            .description
                |!{description}
            .extra
                i.tags.icon
                each tags
                    .ui.compact.button.organization_tag(class=organization_tag_class) #{this}
                    // .ui.basic.label(class=organization_tag_class) #{this}
                if attendees
                    .ui.header Attendees:
                    .ui.horizontal.list
                        each attendees
                            .item 
                                img.ui.avatar.image(src=this.profile.profile_image_url)
                                strong #{this.profile.name}
                                each this.tags
                                    .ui.small.basic.label #{this}
            .extra
                if is_author
                    .edit_organization.ui.labeled.right.floated.primary.basic.icon.button
                        i.pencil.icon
                        |Edit Organization