template(name='organizations')
    div
        img.ui.centered.fluid.image(src='/banners/organization_banner.jpg', alt='')
        h1.overlay-text Community at Impact Hub Boulder
    +cloud filter='organization'
    .ui.container.basic.segment
        .ui.divided.items
            each organizations
                +organization


template(name='organization')
    .ui.item
        .image
            img.ui.medium.image(src="{{c.url image_id}}")
        .content
            .header
                h2.ui.header #{title}
            .meta
                a(href=link target="_blank") #{link}
            .description
                |!{description}
            .extra
                i.tags.icon
                each tags
                    .ui.compact.button.organization_tag(class=organization_tag_class) #{this}
                    // .ui.basic.label(class=organization_tag_class) #{this}
                if attendees
                    .ui.header Attendees:
                    .ui.horizontal.list
                        each attendees
                            .item 
                                img.ui.avatar.image(src=this.profile.profile_image_url)
                                strong #{this.profile.name}
                                each this.tags
                                    .ui.small.basic.label #{this}
            if isInRole 'admin'
                .extra
                    .edit_organization.ui.labeled.right.floated.primary.basic.icon.button
                        i.pencil.icon
                        |Edit Organization