.ui.card
    .content
        a(href="/view/#{_id}")
            img.ui.large.image(src="{{c.url image_id width=500 height=300 crop='fit'}}")
    .content
        h3.ui.red.header.make-uppercase 
            a(href="/view/#{_id}") #{title}
        if link
            .meta
                a(href=link target='_blank') #{link}
    .extra.content
        each eco_tags
            .ui.compact.basic.small.button.eco_tag(class=eco_tag_class) #{this}
            // .ui.basic.label(class=organization_tag_class) #{this}
    .extra.content
        +favorite
    if isInRole 'admin'
        if published
            .ui.bottom.right.attached.basic.green.tiny.label 
                i.red.configure.icon
                |Pub
        else
            .ui.bottom.right.attached.basic.red.tiny.label 
                i.red.configure.icon
                |Unpub
