template(name='conversations')
    .ui.container
        each conversations
            +conversation


template(name='conversation')
    .ui.fluid.card
        .content
            .header
                |Conversation Topics:
                // .ui.horizontal.list
                each tags
                    .ui.large.compact.button.tag(class=tagClass) #{this}
                    // .item.tag(class=tagClass) #{this}
                div
                    |Participants: &nbsp;
                    .ui.horizontal.list
                        each participants
                            .item #{this}
            .description
                .ui.basic.segment
                    .ui.divided.list
                        each conversation_messages
                            .item
                                strong #{this.author.username}:
                                |#{this.text}
                                .meta #{this.when}
                    if in_conversation
                        .ui.small.left.icon.transparent.input
                            i.plus.icon
                            input.add_message(type='text' placeholder='Add Message')
        if currentUser
            .extra.content
                if isOwner
                    .ui.basic.button.close_conversation
                        i.red.remove.icon
                        |Close
                if in_conversation
                    .ui.basic.button.leave_conversation
                        i.red.minus.icon
                        |Leave
                else
                    .ui.basic.button.join_conversation
                        i.green.plus.icon
                        |Join

