with event
    .ui.text.container.basic.segment
        a.ui.top.left.attached.basic.button(href='/events')
            i.left.arrow.icon
            |Back
        div
            img.ui.centered.large.image(src="{{c.url image_id}}")
            .overlay-text 
                h1 #{title}
                h3 #{day} from #{start_time} to #{end_time}
        .ui.hidden.divider
        .description
            // .ui.header Event Topics:
            each tags
                // .ui.compact.button.event_tag(class=event_tag_class) #{this}
                .ui.basic.label(class=event_tag_class) #{this}
            // |#{start_date} to #{end_date}
            .ui.basic.padded.segment
                |#{simple_description_cut}
        if attendees
            .content
                .ui.header Attendees:
                .ui.horizontal.list
                    each attendees
                        .item #{this}
        .extra.content
            if isInRole 'admin'
                .edit_event.ui.primary.basic.button
                    i.pencil.icon
                    |Edit Event
            if currentUser
                if attending
                    .ui.basic.button.leave_event
                        i.red.minus.icon
                        |Leave
                else
                    .ui.button.basic.join_event
                        i.green.plus.icon
                        |Join
            else
                p Sign in to attend    
                